<div class="main">
  <div class="container">
    <div class="text-center">
      <h3><span class="text-danger">D</span>ansha<span class="text-danger">L</span>ist</h3>
    </div>
    <div class="row">
      <div class="col-sm-8 offset-sm-2 border  mt-4 mb-4">
        <!--フォーム-->
        <%= form_with(model: @user, local: true) do |f| %>
          <!--画像表示-->
          <div class="text-center pb-0 relative">
            <div class="user_img_wrap rounded-circle" id="image">
              <% if @user.image? %>
                <%= image_tag @user.image.to_s, :size => '200x200', :class => 'rounded-circle user-image', :alt => 'ユーザーアイコン' %>
              <% else %>
                <%= image_tag "https://res.cloudinary.com/hqf8k8ltl/image/upload/v1592050958/default_fyleea.jpg", :size => '200x200', :class => 'rounded-circle user-image', :alt => 'ユーザーアイコン' %>
              <% end %>
              <i class="fas fa-camera" style="font-size: 60px; top: 40%; left: 46%;"></i>
            </div>
          </div>
          <%= f.file_field :image %>
          
          
          <%= render 'layouts/error_messages', model: f.object %>
          
          <div class="form-group">
            <%= f.label :name, 'お名前' %>
            <%= f.text_field :name, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :introduction, '自己紹介' %>
            <%= f.text_area :introduction, class: 'form-control', rows: 5 %>
          </div>
          <%= f.submit '更新', class: 'btn btn-danger btn-block mb-4' %>
        <% end %>
      </div>
    </div>
  </div>
</div>