<div class="main-container">
  <div class="text-center">
    <h3>モノと人との出会い</h3>
    <h2><span class="text-danger">D</span>ansha<span class="text-danger">L</span>ist</h2>
  </div>
</div>
<div class="text-center">
  <h5>使わなくなった大切なモノを<br>誰かに使ってもらいたくありませんか？</h5>
</div>
<div class="main">
  <div class="container">
    <!--検索-->
    <div class="text-center">
      <%= search_form_for @search, url: items_path do |f| %>
        <%#= f.label :name_cont, 'アイテム名' %>
        <%= f.search_field :name_cont %>
        <%= f.submit '検索' %>
      <% end %>
    </div>
    
    <div class="row">
      <%= render 'items/items', items: @items%>
    </div>
    <div class="pull-right">
      <%= paginate @items %>
    </div>
  </div>
</div>