<div class="main-container">
  <div class="text-center">
    <h3>モノと人との出会い</h3>
    <h2><span class="text-danger">D</span>ansha<span class="text-danger">L</span>ist</h2>
  </div>
</div>
<div class="text-center">
  <h5>使わなくなった大切なモノを<br>誰かに使ってもらいたくありませんか？</h5>
</div>
<div class="main">
  <div class="container">
    <!--検索-->
    <div class="row">
      <div class="text-center search col-md-6 offset-md-3 ">
        <%= search_form_for @search, url: items_path do |f| %>
          <%= f.search_field :name_cont, :placeholder => 'アイテム名を入力してください', :style => "width: 80%;"  %>
          <%= f.submit '検索' %>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <%= render 'items/items', items: @items%>
    </div>
    <div class="pull-right">
      <%= paginate @items %>
    </div>
  </div>
</div>