<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 border mt-4 mb-4">
        <div class="text-center">
          <h2><%= @item.name %></h2>
        </div>
        
        <div class="text-center pt-0 ">
          <%if @item.image?%>
            <%= image_tag @item.image.to_s, :size => '200x250', :alt => 'アイテム画像' %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/hqf8k8ltl/image/upload/v1592051211/m_e_others_500_dr00a1.png", :size => '200x250', :class => "border", :alt => 'アイテム画像' %>
          <% end %>
        </div>
        
        <div class="pt-0 pb-0">
          <table>
            <tr>
              <th>ユーザー名</th>
              <td><%= link_to @item.user.name, @item.user %></td>
            </tr>
            <tr>
              <th>アイテムの説明</th>
              <td><%= @item.introduction%></td>
            </tr>
          </table>
        </div>
        <% if current_user == @item.user %>
          <%= link_to '編集', edit_item_path(@item), class: 'btn btn-danger btn-block mt-4 mb-4' %>
        <% end %>
        <% if current_user == @item.user %>
          <%= link_to 'このアイテムを削除する', @item, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class:"btn btn-secondary btn-block mb-4" %>
        <% end %>
        <div class="text-center">
          <%= link_to '戻る', root_path%>
        </div>
        
        <div class="comment-wrapper border-top　mb-10">
          <div class="text-center">
            <h4 class="mt-4">コメント一覧</h4>
          </div>
          <% @comments.each do |c| %>
            <div>
              <%#= c.user.name %>
              <% unless c.user.blank? %>
                <a href="<%= user_path(c.user_id) %>"><%= image_tag c.user.image.to_s,class:"rounded-circle icon_image mr-3 mb-3",:size => '50x50', :alt => 'アイコン画像'%></a>
              <% end %>
              <% unless c.user.blank? %>
                <%= link_to c.user.name, user_path(c.user) %>
                <%#= c.user.name %>
              <% end %>
              <br />
              <%= c.content %>
              <hr>
            </div>
            <br />
          <% end %>
          <%# if user_signed_in? %>
            <%= form_with(model: [@item, @comment], local: true) do |f| %>
              <%= f.text_area :content, class: "form-control", rows: 5 %>
              <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
                <i class="far fa-comments"></i> コメントする
              <% end %>
            <% end %>
          <%# end %>
        </div>
        
      </div>
    </div>
  </div>
</div>